<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                MiniForum
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li <% if(page === "index")    { %> class="active" <% } %> ><a href="/">Board</a></li>
            <li <% if(page === "users")    { %> class="active" <% } %> ><a href="/users">User List</a></li>
            <li <% if(page === "register") { %> class="active" <% } %> ><a href="/register">Register</a></li>
        </ul>

        <div class="nav_right">
            <% if(!login) { %>
            <form class="form-inline" method="POST" action="/login">
                <input type="text" class="form-control" id="login-username" name="username" placeholder="username" />
                <input type="password" class="form-control" id="login-password" name="password" placeholder="password" />
                <button type="submit" class="btn btn-default">Login</button>
            </form>
            <% } else { %>
            <form class="form-input nav_right_element" method="POST" action="/logout">
                <button type="submit" class="btn btn-default">Logout</button>
            </form>
            <div class="user_display nav_right_element">Hello, <%= user.username %>.</div>
            <% } %>
        </div>

    </div>
</nav>
