<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>RiftForum</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
<link rel="stylesheet" href="/style/bootstrap.min.css">
<link rel="stylesheet" href="/style/style.css">

<!-- JS -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>

<!-- Rift Forum JS -->
<script type="text/javascript" src="/js/rift_forum.js"></script>
