body {
    padding-top: 50px;
    font-family: ubuntu;
}

footer {
    margin-top: 20px;
}

.nav_right {
    float: right;
    padding-top: 8px;
    color: #777;
}

.user_display {
    padding-top: 8px;
    padding-right: 14px;
}

.nav_right_element {
    float: right;
}

/* ============================================================================
 * Topic list
 * ============================================================================
 */

.topics_list_topic {
    height: 50px;
    margin-bottom: 2px;
}

.topics_list_title {
    float: left;
    width: 690px;
    height: 100%;
    background: #efefef;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.topics_list_messages {
    float: left;
    width: 150px;
    height: 100%;
    background: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topics_list_dates {
    float: left;
    width: 300px;
    height: 100%;
    background: #efefef;
    padding: 5px 10px;
    color: grey;
    text-align: right;
}

.topics_list_username_display,
.topics_list_timestamp_display
{
    color: black;
}

/* ============================================================================
 * Messages List
 * ============================================================================
 */

.messages_list {
}

.messages_list_info {
    background: #afafaf;
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
}

.messages_list_message {
    background: #efefef;
    padding: 30px 10px;
    border-bottom: 2px solid black;
}

.messages_list_info_username,
.messages_list_info_timestamp
{
    color: black;
}
