<!-- views/pages/404.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <main>
    <div class="jumbotron display404">
        <div><h1>404</h1></div>
        <div><p><%= text404 %></p></div>
        <div><p>Redirecting</p></div>
    </div>
    </main>
</body>
</html>
