<!-- views/pages/404.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>

    <main>
    <div class="jumbotron display404">
        <div><h1>404</h1></div>
        <div><p>Not Found</p></div>
        <div><a href="/">Back to Index</a></div>
    </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
