<!-- views/pages/404.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/js/notfound.js"></script>
</head>
<body class="container">
    <main>
    <div class="jumbotron display404">
        <div><h1>404</h1></div>
        <div><p><%= text404 %></p></div>
        <div><p>Redirecting. <a href="/">Click here if nothing happens</a></p></div>
    </div>
    </main>
</body>
</html>
