<!-- views/pages/500.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>

    <main>
    <div class="error_wrapper">
        <div class="jumbotron display-error">
            <div><h1>500</h1></div>
            <div><p>Internal Error</p></div>
            <div><a href="/">Back to Index</a></div>
        </div>
    </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
