<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="well">Topics</div>
        <div class="list-group">
            <% topics.forEach(function(topic) { %>
                <!-- <li class="list&#45;group&#45;item"><%= user.username %> &#45; <%= user.user_type %></li> -->
                <a href="#" class="list-group-item"><%= topic.title %></a>
            <% }); %>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
