<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    <div class="page_title_wrapper">
        <div class="page_title">
            <h1>Register</h1>
        </div>
    </div>

    <div class="register_wrapper">
        <div class="register-container">
            <form method="POST" action="/register">
                <input class="form-control" name="username" placeholder="Username" type="text" />
                <input class="form-control" name="password" placeholder="Password" type="password" />
                <input class="form-control" name="password2" placeholder="Confirm Password" type="password" />
                <button class="form-control btn btn-default" type="submit">Register</button>
            </form>
        </div>
    </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
