<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="well"><%= topic.title %></div>
        <div class="list-group">
            <% topic.messages.forEach(function(message) { %>
                <li class="list-group-item"><%= message.message %></li>
            <% }); %>
        </div>

        <div>
            <form method="POST" action="/topics/<%= topic.topic_id %>">
                <textarea name="message"></textarea>
                <button type="submit" class="btn btn-default">Send</button>
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
