<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="well"><%= topic.title %></div>
        <div class="list-group">
            <% topic.messages.forEach(function(message) { %>
                <!-- <li class="list&#45;group&#45;item"><%= user.username %> &#45; <%= user.user_type %></li> -->
                <li class="list-group-item"><%= message.message %></li>
            <% }); %>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
