<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="well">Users List</div>
        <% for(var i=0; i<users.length; i++) { %>
            <div class="users_list_item" onclick="location.href='/users/<%= users[i].username %>';">
                <% if (i%2 == 0) { %>
                <div class="users_list_item_username">
                <% } else { %>
                <div class="users_list_item_username users_list_item_username_odd">
                <% } %>
                    <span><%= users[i].username %></span>
                </div>

                <% if (i%2 == 0) { %>
                <div class="users_list_item_user_type">
                <% } else { %>
                <div class="users_list_item_user_type users_list_item_user_type_odd">
                <% } %>
                    <span><%= users[i].user_type %></span>
                </div>
            </div>
        <% } %>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
